body{
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
}

:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #f0f0f0;
  --modal-bg: rgba(141, 141, 141, 0.541);
}

h3 {
  margin: 0;
  padding-bottom: 1rem;
  height: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>.add-employee-btn {
  width: 10%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--btn);
}

.header>.add-employee-btn:hover {
  background-color: var(--btn-hover);
}

.close-icon {
  height: 2rem;
  width: 2rem;
  color: red;
}

.emp-content {
  display: flex;
  border: 1px solid black;
  height: 45rem;
}


.emp-list-container {
  width: 30%;
  border-right: 1px solid black;
  padding: 2%;
}

.emp-info-container {
  width: 70%;
  padding: 2%;
}


.emp-list, .emp-info {
  padding: 0.4rem 0;
  border-top: 1px solid black;
  height: calc(100% - 2rem);
  overflow: auto;
}
.emp-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--item-bg);
  border-radius: 1rem;
  padding: 0.4rem;
  height: 2.4rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.selected, .employee:hover{
  background-color: var(--btn);
}

.user-img{
  height: 20rem;
  width: 20rem;
}

.add-employee-modal-container {

  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-bg);
}

.toggle-display{
  display: flex;
}

.add-employee-form {
 background-color: var(--item-bg);
 display: flex;
 flex-direction: column;
 padding: 1rem;
 border-radius: 1.2rem;
 gap: 0.8rem
}

.add-employee-form > input, .add-employee-form > .user-name > input {
  border: none;
  height: 1.6rem;
  border-radius: 0.8rem;
  padding-left: 0.6rem;
}

.modal-header{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.submit-btn {
  background-color: var(--btn);
  height: 2.4rem;
  border: none;
  border-radius: 0.8rem;
}

.submit-btn:hover{
  background-color: var(--btn-hover);
}